aside{
    overflow-y: auto;
    top:calc(25px + 1.625rem);
    /* top: 57px; */
}

@media (min-width: 768px) {
    aside{
        height: calc(100vh - (24px + 1.625rem));
        position: sticky;
    }
}

.btn{
    --bs-btn-border-width: 0;
    width: fit-content;
}

.active{
    color: white;
    background-color: rgba(137, 43, 226, 0.725);
}
