<header class="navbar navbar-expand-md sticky-top">
    <nav class="container-lg bd-gutter flex-wrap flex-lg-nowrap" id="navbar">
        @if(currentPath.startsWith('/docs')){
            <button class="navbar-toggler border-0 d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="docs/sidebar">
                <i class="bi bi-list"></i>
            </button>
        }
        @else{
            <div class="d-lg-none" style="width: 2.25rem;"></div>
        }
        <a class="navbar-brand" routerLink="/">
            <img src="WhiteDreams.svg" alt="Dreams">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav d-flex flex-row me-auto justify-content-center">
                <li class="nav-item me-3 me-md-0">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" aria-current="page">Home</a>
                </li>
                <li class="nav-item me-3 me-md-0">
                    <a class="nav-link" routerLink="/docs" routerLinkActive="active" aria-current="page">Docs</a>
                </li>
                <li class="nav-item me-3 me-md-0">
                    <a class="nav-link" href="https://github.com/MohammedAdel224/dreams" target="_blank">GitHub</a>
                </li>
                <li class="nav-item me-3 me-md-0">
                    <a class="nav-link" [href]="this.util.download.dist">Download</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
