.exampels-container{
    border: 3px solid #320143;
    background-color: #dfdfdf;
    border-radius: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Makes the icons black */
}

.carousel-inner{
    width: 91%;
}
