<main>
    <div class="container cover">
        <img src="ColoredDreams.svg" alt="Dreams" class="img-fluid">
        <p class="h1 text-center pt-3">Build and customize easily useing our components just like a DREAM</p>
        <div class="d-flex justify-content-center align-items-center">
            <a
                type="button"
                class="btn btn-purple btn-lg me-3"
                routerLink="/docs"
                routerLinkActive="active">
                Read docs
            </a>
            <a
                type="button"
                class="btn btn-outline-purple btn-lg"
                [href]="this.util.download.dist">
                Download <i class="bi bi-cloud-arrow-down"></i>
            </a>
        </div>
    </div>
</main>
